@font-face {
    font-family: amazonLigth;
    src: url(../img\AmazonEmber_Lt.woff);
    
}

@font-face {
    font-family: amazonRigth;
    src: url(../img/AmazonEmber_Rg.woff); }
    

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "amazonLigth", fan
    
}

html {
    font-size: 62.5%;
}

body{
    list-style: none;
}

nav>div>a {
    font-family: amazon, fantasy, sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: white;

}

.header{
    display: flex;
    height: 5.6rem;
    width: 100%;
    background-color: #00050d;
    color: white;
    display: flex;
    justify-content: center ; 
    font-size: 1.6rem;
}

.header nav{
    display: flex   ;
    align-items:center;
    min-width: 60%;
    justify-content: center;

}

.header .logo-seta, a:hover{
    cursor: pointer;
}

.logo-seta{
    display: flex;
    margin: 0rem 1.5rem;
    padding-right: 0.2rem;
}

.logo-seta svg{
    transition: .5s;
}

.logo-seta svg:hover{
    transform: rotate(180deg)

    
}

.logo-seta a{
    padding-right: 0rem;
}


.header a{
    text-decoration: none;
    color: #a9aaaa;
    font-size: 1.7rem;
    font-weight: 500;
    padding: 1rem;
    font-family: sans-serif;
    justify-self: center;
    align-items:center
}

.header img{
    width: 12.8rem;
    height: 2.4rem;


.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
    }





}
.header a img{
    width: 3.5rem;
    height: 3.5rem;
}

/* =========banner=========== */

.banner {
    position: relative;
    text-align: left;
    color: white;
    background-image: url(../banner1.jpg);
}

.banner img {
    display: flex;
    width: 100%;
    height: auto;
}

.banner-text {
    padding: 381px 360px 380px 0px;
    position: absolute;
    top: 0%;
    left: 5%;
    max-width: 1100px;

    background-image: linear-gradient(to right, black 55%, transparent 80%);
}

.banner-text h1 {
    font-size: 38px;
    margin-bottom: 10px;
    font-weight: 100;
}

.banner-text p {
    font-size: 1em;
    margin-bottom: 10px;
}

.banner-text button {
    background-color: #00a8e1;
    color: white;
    padding: 10px 20px;
    border: none;
    margin: 5px 0;
    cursor: pointer;
}

.banner-text .note {
    font-size: 0.8em;
    color: lightgray;
}

/* ---------channels============= */
#channels {
    display: flex;
    padding: 10px 0px;
}

#channels article {
    max-width: 50%;
}

.Channels_texto {
    padding: 35px;
}

.channels_texto h2 {
    font-family: 'amazon ember light';
    margin-bottom: 20px;
}

h2 {
    font-size: 40px;
    font-weight: 500;
}

p {
    display: flex;
    height: 7px;
    margin-block-start: 10px;

}

.channels p {
    font-family: 'amazon ember light';
    font-size: 15px;
}

.channel-list {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;


}

#channels img {
    max-width: 234px;
    height: 200px;
    transition: .15s;

}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

/* =--------banner2-------- */

.store {
    position: relative;
    text-align: right;
    color: white;
    background-image: url(../banner1.jpg);
}

.store img {
    display: flex;
    width: 100%;
    height: auto;
}

.banner2_texto {
    padding: 404px 391px 380px 200px;
    position: absolute;
    top: 0%;
    right: 0%;
    max-width: 1100px;
    background-image: linear-gradient(to left, black 81%, transparent 97%);
}

.banner2_texto h1 {
    font-size: 38px;
    margin-bottom: 10px;
    font-weight: 100;
}

.banner2_texto p {
    font-size: 1em;
    margin-bottom: 10px;
}

.banner2_texto button {
    background-color: #00a8e1;
    color: white;
    padding: 10px 20px;
    border: none;
    margin: 5px 0;
    cursor: pointer;
}



/* -----------seção-de-recursos-------- */



.features {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 60px 5% 50px 5%;

}

.features div {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 340px;
    text-align: center;


}

.features img {}

h3 {
    font-family: 'amazon ember light';
    font-size: 25px;
    font-weight: 500;
}

.features p {
    font-size: 16px;
    font-weight: 500;
}

/* ------------roda----pe------- */

#roda-pe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #222222;
    align-items: center;
    color: #a9aaaa;
    gap: 8px;
    height: 156px;
    width: 100%;
}


.texto-roda-pe a{color: #0f79af;
    font-size: 16px;
    font-family: 'amazon ember light';
    
    
    
}

.texto-roda-pe{ 
    display: flex;
    gap: 10px;
    list-style: none;}

    .textp-roda-pe p { font-size: 16px;}