body {
    font-family: Arial, sans-serif;
    background-color: #d5006e79;
    margin: 0;
    padding: 20px;
}
h1 {
    text-align: center;
    color: #d5006d;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
img {
    max-width: 100px;
    height: auto;
}
.barbie-image {
    display: block;
    margin: 20px auto;
    max-width: 300px;
}
.texto {
    text-align: justify;
    margin: 20px;
    font-size: 16px;
}